<%- include('../partials/header')%>

<h2>Flight Info</h2>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>FlightNo</th>
      <th>Departs</th>
    </tr>
  </thead>
  <tbody>
    <!-- Write the line of EJS to iterate over movies using forEach -->
    <% flights.forEach(function(m) {%>
      <tr>
        <td><%= m.airline %></td>
        <td><%= m.airport %></td>
        <td><%= m.flightNo %></td>
        <td><%= m.departs%></td>
        <td><button><a href="/flights/<%= f._id %>">Details</a></button></td>
      </tr>
    <!-- Close the forEach using EJS here -->
    <% }); %>
  </tbody>
</table>



<%- include('../partials/footer')%>